<mat-form-field>
    <mat-label>Choose an account</mat-label>
    <mat-select [ngModel]="account" (ngModelChange)="selectAccount($event)">
        <div class="padd-10 bordered-bottom sticky-top-center bg-white">
            <input #search color="primary" style="margin: 0 15px" class="search-input" [(ngModel)]="accountQuery"
                placeholder="{{'SEARCH'|translate}}">
        </div>
        <mat-option *ngFor="let account of accounts" [value]="account">
            {{account.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
