<mat-card class="no-padding">
    <caste-table-header title="PERMISSIONS" [searchMapping]="searchMapping" [query]="query"
        (onSearch)="onSearch($event)" [searching]="isLoading">
        <add-button (add)="addPermission()" *appPermissions="permissionForAdding"></add-button>
    </caste-table-header>

    <table mat-table [dataSource]="dataSource" matSort class="hoverable" (matSortChange)="sortChanged($event)"
        [matSortDirection]="sortDir" [matSortActive]="sortId">
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'USER'|translate}} </th>
            <td mat-cell *matCellDef="let row">
                <a class="mat-chip mat-primary mat-standard-chip"
                    routerLink="/users/{{row.user.id}}">{{row.user.username || 'not-set'}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ACCOUNT'|translate}} </th>
            <td mat-cell *matCellDef="let row">
                <a class="mat-chip mat-primary mat-standard-chip"
                    routerLink="/accounts/{{row.account.id}}">{{row.account.name || 'not-set'}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="grants">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GRANTS'|translate}} </th>
            <td mat-cell *matCellDef="let row">
                <mat-chip-list>
                    <mat-chip class="mat-chip mat-primary mat-standard-chip" *ngFor="let grant of row.grants">
                        {{grant|translate}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'UPDATED'|translate}} </th>
            <td mat-cell *matCellDef="let row"> <i class="date">{{row.updated_at|date:'short'}}</i> </td>
        </ng-container>

        <ng-container matColumnDef="options" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Item options menu"
                    (click)="$event.preventDefault(); $event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button *appPermissions="permissionForRemoving" mat-menu-item class="col-error"
                        (click)="openRemoveConfirmation(row.id)">
                        <mat-icon class="mat-icon material-icons mat-icon-small">delete</mat-icon>
                        <span>{{'REMOVE'|translate}}</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr class="tr-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/permissions/{{row.id}}">
        </tr>
    </table>

    <caste-list-loading *ngIf="isLoading && !hasData"></caste-list-loading>

    <div class="list-no-items" *ngIf="!hasData && !isLoading">
        <p class="text-light">{{'NO_ITEMS'|translate}}</p>
    </div>


    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)"></mat-paginator>
</mat-card>