<mat-drawer-container class="sidemenu-container">
    <mat-drawer #drawer class="sidemenu-sidenav mat-elevation-z1" mode="side" [opened]="opened">
        <ng-template ngFor let-item [ngForOf]="items">

            <!-- If item is not a separator -->
            <div *ngIf="!item.separator">
                <button routerLinkActive="active text-dark" class="sidemenu-item row center text-mid"
                    *appPermissions="item.permission" [routerLink]="item.route" mat-menu-item>
                    <mat-icon class="mat-icon-small">{{item.icon}}</mat-icon>
                    <span>{{item.label | translate}}</span>
                </button>
            </div>

            <!-- If item is a separator -->
            <div *ngIf="item.separator">
                <h4 class="title marg-left-15" *appPermissions="item.permission">
                    {{item.label | translate}}
                </h4>
            </div>
        </ng-template>

        <div class="abs-bottom-center row">
            <button mat-icon-button class="small-icon-button text-mid marg-right-10">
                <mat-icon>help</mat-icon>
            </button>
            <button mat-icon-button class="small-icon-button text-mid" (click)="openShortcutHelp()">
                <mat-icon>keyboard</mat-icon>
            </button>
        </div>
    </mat-drawer>

    <div class="padd-h-80 padd-v-30 centered">
        <ng-content></ng-content>
    </div>
</mat-drawer-container>