<div class="flex-row bordered-bottom center space-between padd-h-20" style="height: 45px; position: relative;">
    <b class="no-margin no-padding table-title">
        {{title|translate}}
    </b>

    <div class="flex-row center search-input-wrapper"
        style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)">
        <input color="primary" style="margin: 0 15px; width: 350px" class="search-input" #search *ngIf="options.input"
            placeholder="{{'SEARCH'|translate}}">

        <mat-select class="small-text" [ngModel]="queryId" (ngModelChange)="queryTypeChanged($event)">
            <mat-option value=""><span class="text-small">{{'SEARCH_BY'|translate}}</span></mat-option>
            <mat-option *ngFor="let id of searchMapping" [value]="id">
                <span class="text-small">{{'BY'|translate}}: {{id.property}}</span>
            </mat-option>
        </mat-select>
    </div>

    <div class="flex-row center">
        <ng-content></ng-content>
    </div>
</div>