<mat-form-field>
    <mat-label>Choose a user</mat-label>
    <mat-select [(ngModel)]="user" (ngModelChange)="selectUser($event)">
        <div class="padd-10 bordered-bottom sticky-top-center bg-white">
            <input #search color="primary" style="margin: 0 15px" class="search-input" [(ngModel)]="userQuery"
                placeholder="{{'SEARCH'|translate}}">
        </div>
        <mat-option *ngFor="let user of users" [value]="user">
            {{user.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
