<mat-card class="no-padding">
    <mat-card-header class="padd-15" style="margin: 0">
        <mat-card-title style="margin: 0">
            <div class="flex-row center">
                <ngx-avatar size="25" [name]="item ? item.name: ''"></ngx-avatar>
                <span class="title text-mid marg-left-10">{{item ? item.name: '...'}}</span>
            </div>
        </mat-card-title>
        <button mat-icon-button class="abs-center-right">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-header>
</mat-card>