<div class="card-header">
    <div>
        <div class="flex-row center">
            <span class="title text-mid">{{'CREATE_INSTANCE'|translate}}</span>
        </div>
    </div>
    <button mat-icon-button (click)="close()" class="abs-center-center text-mid">
        <mat-icon class="mat-icon-mid">
            close
        </mat-icon>
    </button>
</div>

<div class="bootstrap-wrapper">
    <form class="padd-20" [formGroup]="instanceDetailsForm" (ngSubmit)="addInstance()">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="title-lg marg-top-10">
                    Instance Details
                </h4>
                <p class="text-mutted marg-bottom-20">Here you can change instance details</p>

                <mat-form-field>
                    <mat-label>{{'NAME' | translate}}</mat-label>
                    <input id="name" matInput placeholder="Enter your name" formControlName="name">
                    <mat-error *ngIf="name.invalid && (name.dirty) && name.errors.required">
                        {{'NAME_REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'DESCRIPTION' | translate}}</mat-label>
                    <textarea id="description" matInput placeholder="Enter a description"
                        formControlName="description"></textarea>
                    <mat-error *ngIf="description.invalid && (description.dirty) && description.errors.required">
                        {{'DESCRIPTION_REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <div class="flex-row end">
                    <app-loadable-button [id]="'createInstance'" [disabled]="instanceDetailsForm.invalid"
                        [loading]="isLoading">
                        {{(isLoading ? 'ADDING': 'ADD') |translate}}
                    </app-loadable-button>
                </div>
            </div>
        </div>
    </form>
</div>