<mat-form-field>
    <mat-label>Choose an application</mat-label>
    <mat-select [ngModel]="application" (ngModelChange)="select($event)">
        <div class="padd-10 bordered-bottom sticky-top-center bg-white">
            <input #search color="primary" style="margin: 0 15px" class="search-input" [(ngModel)]="applicationQuery"
                placeholder="{{'SEARCH'|translate}}">
        </div>
        <mat-option *ngFor="let application of applications" [value]="application">
            {{application.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
